.App{
  display: flex;
  justify-content: center;
 align-items: center;
  
  height: 100vh;
  width: 100%;
}
.calc-display{
  
  color: whitesmoke;
  background: #1c191c;
  line-height: 50px;
  font-size: 2em;
  padding: 0 30px;
  text-align: right;
  flex:1;
}
.calc-wrapper{
  height: 600px;
  width: 400px;
}
.row{
  display: flex;
  
}
.clear{
  
  background-color: rgb(197, 240, 238);
  justify-content: center;
  text-align: center;
  height: 3.6em;
  outline: 1px solid;
  width:300px,
}