.button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
    height: 4em;
    width:300px;
    font-size: 1.2em;
    color:black;
    background-color: rgb(197, 240, 238);
    outline: 1px solid;
}